# etcd-backup CronJob monitoring PrometheusRule
#
# This PrometheusRule alerts if a etcd-backup job has failed or was not scheduled.
#
# For detailed explanation on how it works, please see:
# https://wiki.adfinis.com/adsy/index.php/RedHat/OpenShift_Container_Platform/BackupRestore/etcd-backup_4.7#Monitoring
# https://wiki.adfinis.com/adsy/index.php/Transgourmet_Schweiz_AG/OpenShift/Deployment#etcd_backup_monitoring
#
# Apply with:
# oc apply -n etcd-backup -f etcd-backup-cronjob-monitor.PrometheusRule.yaml

apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: etcd-backup-cronjob-monitor
  namespace: etcd-backup
spec:
  groups:
  - name: cronjob-fail
    rules:
    - alert: EtcdBackupCronJobStatusFailed
      expr: |
        kube_job_status_succeeded{namespace="etcd-backup"} == 0
      labels:
        severity: critical
